.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.background {
  max-width: 100%;
}

.cloud {
  position: absolute;
}

.gras {
  position: absolute;
}

.pit {
  position: absolute;
  width: 20%;
}

.hole {
  visibility: hidden;
  position: absolute;
  bottom: 32%;
  left: 0;
  width: 8.5%;
}
