.root {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.cloud {
  position: absolute;
  top: 0;
  width: 100%;
}

.gras {
  position: absolute;
  top: 0;
  width: 100%;
}

.pit {
  position: absolute;
  width: 20%;
}

.hole {
  visibility: hidden;
  position: absolute;
  bottom: 32%;
  left: 0;
  width: 8.5%;
}
