.root {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  width: 50%;
}

.IDLE {
  height: 100%;
  transform: translateY(-5.5%);
}

.MOVING {
  height: 51%;
  transform: translateY(-4.5%);
}

.DIGGING {
  height: 50.5%;
  transform: translateY(2%);
}

.COMPLETED {
  height: 60.5%;
  transform: translateY(4%);
}

.SITTING_DOWN {
  transform: translateY(-2%);
}

.STANDING_UP {
  transform: translateY(-2%);
}

.SITTING_DIG {
  transform: translateY(10.4%);
}

.STANDING_DIG {
  transform: translateY(10.4%);
}
