.root {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  width: 50%;
}

.IDLE {
  height: 100%;
  margin-bottom: 3.6%;
}

.MOVING {
  height: 52%;
  transform: translateY(-7.5%);
}

.DIGGING {
  height: 50.5%;
  transform: translateY(-1%);
}

.COMPLETED {
  height: 60%;
  transform: translateY(0.9%);
}

.SITTING_DOWN {
  height: 100%;
  transform: translateY(-7%);
}

.STANDING_UP {
  height: 100%;
  transform: translateY(-7%);
}

.SITTING_DIG {
  height: 135%;
  transform: translateY(7.5%);
}

.STANDING_DIG {
  height: 135%;
  transform: translateY(7.5%);
}
